---
ansible_python_interpreter: /usr/bin/python3
ansible_ssh_common_args: >-
  -C
  -o ControlMaster=auto
  -o ControlPath=~/.ssh/controlmasters/%r@%h:%p
  -o ControlPersist=10m
  -o ForwardAgent=yes
  -o StrictHostKeyChecking=accept-new
ansible_user: root
apt_packages_base:
  - hadori
  - hping3
  - mailutils
  - mc
  - mutt
  - ncdu
  - nmap
  - postfix
  - postfix-pcre
  - procmail
  - python3-venv
  - swaks
  - ufw
  - uptimed
apt_packages_extra: []

apt_packages_uninstall:
  - apache2-bin
  - apport
  - mecab-utils

snap_packages:
  - yq

deb822_repositories: []

aws_access_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  30343063643933306461363831336466356534343036613837616439613161363565386536353163
  3832303065656338656532333363336434313639666535350a343637613063393364316131363037
  61333962646439643933393930383438303139393061326662653062313133363931373964353139
  6130383933613537630a363365623562656534613566383230613239313863343263643834313632
  33373930616462313666333634333939383039626363363361396637323037623739
aws_secret_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  37366564636233346438376132666536303236356563303034616639336639656235336430376465
  6238323537613461613064306163323765333136376234360a613035343238646239646334616661
  37643865306261366637323639303432626333313135346435343339343434363964623839393037
  3437313736383635310a633365363533353366313763626163633664653235376436363763303666
  32623530313863363961643939323762366164313032366134393138633233613765313832613833
  6365643831303464373961386265633463613235383335383039

cron__jobs:
  hadori:
    name: Hardlink with hadori
    special_time: monthly
    job: /usr/bin/hadori --verbose /bin /sbin /lib /lib64 /usr /opt

etc_aliases__recipients:
  - root: amedee@vangasse.eu

etckeeper__gitignore:
  - alternatives
  - apparmor.d
  - fonts
  - ssl
  - systemd

hold_grub_packages: false

locale: en_US.UTF-8

logrotate__options: |
  su root adm
logrotate__config:
  - filename: postfix
    logs:
      - /var/log/mail.err
      - /var/log/mail.info
      - /var/log/mail.log
      - /var/log/mail.warn
    options: |
      monthly
      rotate 24
      compress
      delaycompress
      missingok
      notifempty
      sharedscripts
    postrotate: |
      systemctl restart rsyslog
      systemctl restart postfix
  - filename: rsyslog
    logs:
      - /var/log/auth.log
      - /var/log/cron.log
      - /var/log/daemon.log
      - /var/log/debug
      - /var/log/kern.log
      - /var/log/lpr.log
      - /var/log/messages
      - /var/log/syslog
      - /var/log/user.log
    options: |
      weekly
      rotate 4
      compress
      delaycompress
      missingok
      notifempty
      sharedscripts
    postrotate: |
        /usr/lib/rsyslog/rsyslog-rotate

munin_node_allowed_ips:
  - ^127\.0\.0\.1$
  - "^::1$"
  - ^142\.93\.227\.16$

munin_node_config_base:
  "df*":
    env.warning: 92
    env.critical: 98
    env.exclude: >-
      none unknown rootfs iso9660 squashfs udf romfs ramfs debugfs
      cgroup_root devtmpfs nilfs2 tmpfs
    env.exclude_re: ^/dev/shm ^/run
  df:
    env.include_re: ^/boot/efi$
  df_inode:
    env.exclude_re: ^/boot/efi$
  "diskstats*":
    env.include_only: vd
munin_node_config_extra: {}
munin_node_install_plugins_base: []
munin_node_install_plugins_extra: []
munin_node_plugins_base: []
munin_node_plugins_extra: []

mydomains: []

postfix_invalid_recipients: []

aws_ses_access_key_id: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  31623431373065383032376534346565356335363963613865363665623364646462663961636631
  3633663637393537623065393538633437616434613031650a383833353535636363636436396635
  32643336636135376564303765393462386261653739346531656332383332313232626366343264
  6466366664343933390a323734353965653362356139393730383461336262316566616532633265
  34373461316664313337633531376133633931336361666633633639343032346366
aws_ses_secret_access_key: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  31326663393735323661393635363633643563383462383030653539386436363936643361663637
  6461663035353232353564376433663265303835626663310a653164393630303135613936656133
  61653361346262383336643932313563336632303666353433393335646266366133346263303561
  3737356431306532370a633865643066313137613636353133366232326636346639383037393032
  63306433386362383539303638393737386330646238366163666561303534663735613037613532
  6162373961663538663539376534656362313837613235613139
aws_ses_default_region: eu-central-1
