---
apt_packages_extra:
  - curl
  - elinks
  - ghostscript
  - imagemagick
  - mysql-client
  - mysql-client
  - mysql-server
  - nginx
  - openssl
  - php
  - php-curl
  - php-fpm
  - php-gd
  - php-imagick
  - php-intl
  - php-json
  - php-mbstring
  - php-mysql
  - php-redis
  - php-ssh2
  - php-xml
  - php-xmlrpc
  - php-zip
  - python3-boto3
  - python3-mysqldb
  - python3-packaging
  - python3-pip
  - redis-server

dbserver_wp_db_host: localhost

deb822_repositories:
  - name: ondrej-ubuntu-nginx-noble
    repo:
      uris: "https://ppa.launchpadcontent.net/ondrej/nginx/ubuntu/"
      suites: [noble]
      components: [main]
      signed_by: /etc/apt/keyrings/ondrej.gpg
  - name: ondrej-ubuntu-php-noble
    repo:
      uris: "https://ppa.launchpadcontent.net/ondrej/php/ubuntu/"
      suites: [noble]
      components: [main]
      signed_by: /etc/apt/keyrings/ondrej.gpg
  - name: third-party
    repo:
      types: [deb]
      uris: "http://mirrors.digitalocean.com/ubuntu/"
      suites:
        - noble
        - noble-updates
        - noble-backports
      components:
        - main
        - restricted
        - universe
        - multiverse
      signed_by: "/usr/share/keyrings/ubuntu-archive-keyring.gpg"

logrotate__config:
  - filename: nginx
    divert: true
    logs:
      - "/var/log/*.log"
    options: |
      monthly
      rotate 24
      missingok
      notifempty
      compress
      delaycompress
      extension log
      create 0640 www-data adm
      sharedscripts
    prerotate: |
      if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
              run-parts /etc/logrotate.d/httpd-prerotate; \
      fi \
    postrotate: |
      invoke-rc.d nginx rotate >/dev/null 2>&1

redis_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  32336333613162383136373737333462313834396236326538663365303935373138353166623632
  3438366164326231313834353763373764326336316238390a303661386564333136386334626436
  31353539313065663861333836656663666439306631623738386632366437393733383463376262
  3632373736396335660a626464396662336638313939303366303363313538353833656630376134
  62346166366563393238373232356330666535346139373532616166653832306462393737346433
  38613133633935303561636438356234306132376138396632343431376238666661313931333131
  37646339333633363263376339646263336339616561306264386264353962386235646266643839
  38393965306561363762333962626365303063346362353663363636366563633632383165326335
  3863

webserver_directory: /var/www/html
webserver_default_indexfiles:
  - index.html
  - index.nginx-debian.html
webserver_user: www-data

wp_constants:
  - name: WP_CACHE_KEY_SALT
    value: amedee.be
  - name: WP_REDIS_PREFIX
    value: amedee.be_
wp_db_name: wordpress
wp_db_user: wordpress
wp_db_host: localhost
wp_db_password: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  63656632336463363961353261633135653865626132316661333433383435323032396439363037
  3538643362353739323035623439663663313864383836660a356534613131313866363539313633
  63356538396263333836313133313839613865323834316662323933613337313464366337303462
  6165386135393933610a336635383663663231643961376337646661656532613131663436323832
  39653937656433393930666663666661393365653831323534366238393033323664
wp_plugins_install:
  - activitypub
  - akismet
  - editorial-calendar
  - google-site-kit
  - jetpack
  - jetpack-boost
  - jetpack-protect
  - merpress
  - performance-lab
  - plugin-report
  - public-post-preview
  - redirection
  - redis-cache
  - syntaxhighlighter
  - videojs-html5-player
  - wordfence
  - wp-youtube-lyte
wp_plugins_uninstall:
  - better-robots-txt
  - health-check
  - hello
wp_themes_install:
  - neve
wp_themes_uninstall:
  - twentytwentytwo
  - twentytwentythree
  - twentytwentyfour
wp_fallback_theme: neve

php_version: "8.4"
php_bin: "/usr/bin/php{{ php_version }}"

wp_cli_bin: "/usr/local/bin/wp"
