---
apt_packages_extra:
  - duplicity
  - fdupes
  - mpack
  - munin

backup_age: 3
# yamllint disable-line rule:line-length
backup_target: s3://s3.us-east-1.amazonaws.com/backups-by-amedee/mail-in-a-box

cron__group_jobs:
  doveadm_expunge_trash:
    name: Expunge Trash
    special_time: daily
    job: /usr/bin/doveadm expunge -A mailbox Trash before 30d

  doveadm_expunge_spam:
    name: Expunge Spam
    special_time: daily
    job: /usr/bin/doveadm expunge -A mailbox Spam before 30d

  extract_image_attachments:
    name: Extract image attachments
    special_time: daily
    job: /usr/local/bin/extract_image_attachments.sh
    custom_files:
      - src: files/mailservers/extract_image_attachments.sh
        dest: /usr/local/bin/extract_image_attachments.sh
        owner: root
        mode: "u=rwx,go=rx"

environment__group_variables:
  - name: NONINTERACTIVE
    value: "1"
  - name: PATH
    value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/root/mailinabox/management
  - name: PRIMARY_HOSTNAME
    value: "{{ hostname }}"

munin_node_config_extra:
  backup_size:
    user: root
  "mailbox_*":
    user: root
    env.mailbox_user: amedee@vangasse.eu
munin_node_install_plugins_extra:
  - src: inventory/production/files/mailservers/backup_size
  - src: inventory/production/files/mailservers/mailbox_base.py
  - src: inventory/production/files/mailservers/mailbox_messages.py
  - src: inventory/production/files/mailservers/mailbox_vsize.py
munin_node_plugins_extra:
  - name: backup_size
  - name: mailbox_messages
    plugin: mailbox_messages.py
  - name: mailbox_vsize
    plugin: mailbox_vsize.py

postfix_invalid_recipients:
  - amedee-android@amedee.be
  - amedee-bitly@amedee.be
  - amedee-ff@amedee.be
  - amedee-lastfm@amedee.be
  - amedee-ma3d@amedee.be
  - amedee-passion@amedee.be
  - amedee-twunch@vangasse.eu
  - amedee-zoosk@amedee.be
  - amedee.be@amedee.be
