---
apt_packages_extra:
  - duplicity
  - fdupes
  - mpack
  - munin

backup_age: 3
# yamllint disable-line rule:line-length
backup_target: s3://s3.us-east-1.amazonaws.com/backups-by-amedee/mail-in-a-box

cron__group_jobs:
  doveadm_expunge_trash:
    name: Expunge Trash
    special_time: daily
    job: /usr/bin/doveadm expunge -A mailbox Trash before 30d

  doveadm_expunge_spam:
    name: Expunge Spam
    special_time: daily
    job: /usr/bin/doveadm expunge -A mailbox Spam before 30d

  extract_image_attachments:
    name: Extract image attachments
    special_time: daily
    job: /usr/local/bin/extract_image_attachments.sh
    custom_files:
      - src: extract_image_attachments.sh
        dest: /usr/local/bin/extract_image_attachments.sh
        owner: root
        mode: "u=rwx,go=rx"

environment__group_variables:
  - name: NONINTERACTIVE
    value: "1"
  - name: PATH
    value: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin:/root/mailinabox/management
  - name: PRIMARY_HOSTNAME
    value: "{{ hostname }}"

munin_node_config_extra:
  backup_size:
    user: root
  "mailbox_*":
    user: root
    env.mailbox_user: amedee@vangasse.eu
munin_node_install_plugins_extra:
  - src: backup_size
  - src: mailbox_base.py
  - src: mailbox_messages.py
  - src: mailbox_vsize.py
munin_node_plugins_extra:
  - name: backup_size
  - name: mailbox_messages
    plugin: mailbox_messages.py
  - name: mailbox_vsize
    plugin: mailbox_vsize.py

postfix_invalid_recipients:
  - amedee-android@amedee.be
  - amedee-bitly@amedee.be
  - amedee-ff@amedee.be
  - amedee-lastfm@amedee.be
  - amedee-ma3d@amedee.be
  - amedee-passion@amedee.be
  - amedee-twunch@vangasse.eu
  - amedee-zoosk@amedee.be
  - amedee.be@amedee.be

imapsync_gmail_user: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  33363435376139356139383839303836646163343738306332376537656134376361376561636461
  6164313132653337396162326333336365666363306438650a333265316533373933383632316161
  30373361313966636537356435616137333035666639623264313537363533376162646361386565
  6539373534643963640a333362333965373832653532316431666230396466306537383763356366
  36316136396339323735373732623636333863376233663566646366663363303137
imapsync_gmail_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  36386339396132336364343532303930326436663865633636626137663061336165383964636539
  3532346636373466326630356635346430306439383766650a333639363039633436623839353836
  63616265343165396162633430386331396637346539373962643832626136356334663439326539
  6161386637393663350a336537653166353432386137373661316439613237303038666532323833
  37633261666338646539646338366331623732366666336266336533323538653734

imapsync_miab_host: "{{ hostname }}"
imapsync_miab_user: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  32646139356431373331363337393237336239386663363761643663633232323336396566333866
  3863623233656338316230633536363766366165323865340a653638343536626435313236363864
  33323739353632613862326262336663363330316236313339393166646331666633356464646661
  3762386461323031310a363139343561633265396561386533353236613330653435376164643836
  31663231316632616136343835383838326264323165646666613136353162653432
imapsync_miab_pass: !vault |
  $ANSIBLE_VAULT;1.1;AES256
  61313164316434663630366232623238316366366631616638393038626464323731663230613931
  6230336436386235643662653362306334646534386365650a393838346231663466396464343239
  36326266316265353534313163393233613331363464663161353635623834623730613034303961
  6666313462666136310a633639303962623966666665333531656536623563666331343534316662
  37316234356137626534306664633436646639303934333166633338393933346666326533336633
  61373732626238646138343530303066303563663339323933396337646535386364396634333462
  35396164353237376239613430633961383765653639623532303638303630323134623434383134
  31663865373439316466
