# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# These owners will be the default owners for everything in the repo.
# * <@insert_github_username>
#
# Order is important. The last matching pattern has the most precedence.


# This file is also being managed automatically by the gitown tool.
.config/.secrets.baseline @amedee
.config/ansible-lint.yml @amedee
.gitattributes @amedee
.github/dependabot.yml @amedee
.github/workflows/ansible-deploy.yml @amedee
.github/workflows/ansible-lint.yml @amedee
.github/workflows/codacy.yml @amedee
.github/workflows/delete-workflow-runs.yml @amedee
.github/workflows/shellcheck.yml @amedee
.gitignore @amedee
.gitownrc @amedee
.pre-commit-config.yaml @amedee
LICENSE @amedee
README.md @amedee
Vagrantfile @amedee
ansible.cfg @amedee
deploy_to_staging.sh @amedee
inventory/production/group_vars/all.yml @amedee
inventory/production/host_vars/amedee.be.yml @amedee
inventory/production/host_vars/box.vangasse.eu.yml @amedee
inventory/production/host_vars/staging.amedee.be.yml @amedee
inventory/production/hosts.yml @amedee
inventory/staging/.gitignore @amedee
inventory/staging/get_inventory.sh @amedee
inventory/staging/group_vars/all.yml @amedee
playbooks/common.yml @amedee
playbooks/mailservers.yml @amedee
playbooks/site.yml @amedee
playbooks/webservers.yml @amedee
roles/blog/handlers/main.yml @amedee
roles/blog/meta/main.yml @amedee
roles/blog/tasks/wordpress.yml @amedee
roles/blog/tasks/wordpress_db.yml @amedee
roles/blog/tasks/wordpress_plugins_install.yml @amedee
roles/blog/tasks/wordpress_plugins_uninstall.yml @amedee
roles/blog/tasks/wordpress_themes_install.yml @amedee
roles/blog/tasks/wordpress_themes_uninstall.yml @amedee
roles/blog/tasks/wpcli.yml @amedee
roles/common/handlers/main.yml @amedee
roles/common/tasks/main.yml @amedee
roles/common/vars/main.yml @amedee
roles/dbserver/handlers/main.yml @amedee
roles/dbserver/tasks/main.yml @amedee
roles/dbserver/tasks/wordpress.yml @amedee
roles/dbserver/vars/main.yml @amedee
roles/mailserver/files/etc/logrotate.d/postfix @amedee
roles/mailserver/files/etc/postfix/checks/body_checks.pcre @amedee
roles/mailserver/files/etc/postfix/checks/header_checks.pcre @amedee
roles/mailserver/files/etc/postfix/checks/mime_header_checks.pcre @amedee
roles/mailserver/handlers/main.yml @amedee
roles/mailserver/meta/main.yml @amedee
roles/mailserver/tasks/main.yml @amedee
roles/mailserver/templates/etc/postfix/sasl_passwd.j2 @amedee
roles/mailserver/vars/main.yml @amedee
roles/webserver/files/etc/nginx/sites-available/amedee.be @amedee
roles/webserver/handlers/main.yml @amedee
roles/webserver/meta/main.yml @amedee
roles/webserver/tasks/letsencrypt.yml @amedee
roles/webserver/tasks/main.yml @amedee
roles/webserver/tasks/wordpress.yml @amedee
roles/webserver/tasks/wpcli.yml @amedee
roles/webserver/vars/main.yml @amedee
