---
nginx_logrotate__dependent_config:
  - filename: nginx
    logs:
      - "/var/log/nginx/*.log"
    options: |
      monthly
      rotate 24
      compress
      delaycompress
      missingok
      notifempty
      sharedscripts
    prerotate: |
      if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
              run-parts /etc/logrotate.d/httpd-prerotate; \
      fi \
    postrotate: |
      invoke-rc.d nginx rotate >/dev/null 2>&1
