## Requirements

This role requires a Mail-in-a-Box installation with
`/root/mailinabox/tools/dns_update` available.

- Minimum Ansible version: `{{ meta.min_ansible_version.value | default("not specified") }}`
