/^(?!.*@(amedee\.be|vangasse\.eu)$)/    REJECT
{% set recipient_width = postfix_invalid_recipients | map('replace', '.', '\\.') | map('length') | max + 4 %}
{% for address in postfix_invalid_recipients -%}
/^{{ '%-*s' | format(recipient_width, address | replace('.', '\\.') ~ '$/') }} REJECT Invalid recipient
{% endfor %}
