#!/bin/bash
export AWS_ACCESS_KEY_ID={{ aws_ses_access_key_id }}
export AWS_SECRET_ACCESS_KEY={{ aws_ses_secret_access_key }}
export AWS_DEFAULT_REGION={{ aws_ses_default_region }}

exec /usr/local/bin/ses_sendmail.py "$@"
