# Local domains handled by Postfix as usual

/^localhost$/             :
/^.*@localhost$/          :*

{% if postfix_inbound %}
/^.*@vangasse\.eu$/       :
/^.*@.*\.vangasse\.eu$/   :
/^.*@amedee\.be$/         :
{% endif %}

/.*/                      ses:
