# Local domains handled by Postfix as usual
/^localhost$/       :
{% if inventory_hostname in groups['mailservers'] %}
/^.*@vangasse\.eu$/    :
/^.*@.*\.vangasse\.eu$/     :
/^.*@amedee\.be$/      :
{% endif %}

/.*/                ses:
