# Local domains handled by Postfix as usual

/^localhost$/             :
/^.*@localhost$/          :*

{% if postfix_mailserver | default(false) %}
/^.*@vangasse\.eu$/       :
/^.*@.*\.vangasse\.eu$/   :
/^.*@amedee\.be$/         :
{% endif %}

/.*/                      ses:
