<?php

define( 'WP_CACHE', true );

{# Database configuration #}
{% set database_width = wp_database_constants.keys() | map('length') | max + 2 %}
{% for key, value in wp_database_constants.items() %}
define( {{ '%-*s' | format(database_width, key | to_json) }}, {{ value | to_json }} );
{% endfor %}

define( 'DB_CHARSET', 'utf8' );
define( 'DB_COLLATE', '' );

{# Secret keys and salts #}
{% set secret_key_width = wp_secret_keys.keys() | map('length') | max + 2 %}
{% for key, value in wp_secret_keys.items() %}
define( {{ '%-*s' | format(secret_key_width, key | upper | to_json) }}, {{ value | to_json }} );
{% endfor %}

{# Additional constants #}
{% if wp_constants %}
{% set constant_width = wp_constants | map(attribute='name') | map('length') | max + 2 %}
{% for constant in wp_constants %}
define( {{ '%-*s' | format(constant_width, constant.name | to_json) }}, {{ constant.value | to_json }} );
{% endfor %}
{% endif %}

$table_prefix = {{ wp_table_prefix | to_json }};

if ( ! defined( 'WP_DEBUG' ) ) {
    define( 'WP_DEBUG', false );
}

if ( ! defined( 'ABSPATH' ) ) {
    define( 'ABSPATH', __DIR__ . '/' );
}

require_once ABSPATH . 'wp-settings.php';
