---
- name: Base configuration for all hosts
  hosts: all
  gather_facts: false

  pre_tasks:
    - name: Gather minimal facts for swapfile, postfix, install_software, ufw, munin-node
      ansible.builtin.setup:
        filter:
          - ansible_hostname
          - ansible_os_family
          - ansible_system_capabilities
          - ansible_system_capabilities_enforced
          - ansible_virtualization_role
        gather_subset:
          - virtual
          - hardware
          - network

    - name: Gather package facts for install_software
      ansible.builtin.package_facts:
        manager: auto

    - name: Set hostname
      ansible.builtin.hostname:
        name: "{{ hostname }}"

    - name: Disable APT Phasing
      ansible.builtin.copy:
        dest: /etc/apt/apt.conf.d/99disable-phasing
        content: 'APT::Get::Always-Include-Phased-Updates "true";'
        owner: root
        group: root
        mode: "0644"

  roles:
    - swapfile
    - localepurge
    - etckeeper_wrapper
    - debops.debops.etc_aliases
    - debops.debops.apt_listchanges
    - debops.debops.unattended_upgrades
    - apt_keyrings

    - role: merge_vars
      merge_vars_from_1: apt_packages_base
      merge_vars_from_2: apt_packages_extra
      merge_vars_target: apt_packages
    - install_software
    - debops.debops.reboot

    - role: merge_vars
      merge_vars_from_1: munin_node_config_base
      merge_vars_from_2: munin_node_config_extra
      merge_vars_target: munin_node_config
    - role: merge_vars
      merge_vars_from_1: munin_node_install_plugins_base
      merge_vars_from_2: munin_node_install_plugins_extra
      merge_vars_target: munin_node_install_plugins
    - role: merge_vars
      merge_vars_from_1: munin_node_plugins_base
      merge_vars_from_2: munin_node_plugins_extra
      merge_vars_target: munin_node_plugins
    - munin_node

    - postfix

- name: Configure Mail-in-a-Box servers
  hosts: mailservers
  gather_facts: false

  pre_tasks:
    - name: Gather minimal facts for ufw
      ansible.builtin.setup:
        filter:
          - ansible_os_family

  roles:
    - debops.debops.environment
    - imapsync
    - mailinabox_dns
    - mailinabox_duplicity
    - munin
    - ufw

- name: Configure WordPress servers
  hosts: blogs
  gather_facts: false

  roles:
    - mysql_config
    - redis
    - nginx
    - letsencrypt
    - role: debops.debops.keyring
      keyring__dependent_gpg_keys:
        - id: 63AF7AA15067C05616FDDD88A3A2E8F226F0BC06
    - debops.debops.wpcli
    - wp

- name: Finalize cron and logrotate configuration
  hosts: all
  gather_facts: false

  roles:
    - debops.debops.cron
    - debops.debops.logrotate
