---
- name: "Get current value of {{ item.name }}"
  become: true
  become_user: "{{ webserver_user }}"
  ansible.builtin.command:
    argv:
      - "{{ php_bin }}"
      - "{{ wp_cli_bin }}"
      - config
      - get
      - "{{ item.name }}"
      - "--path={{ webserver_directory }}"
  register: wp_config_get
  changed_when: false
  failed_when: false

- name: "Set constant {{ item.name }}"
  become: true
  become_user: "{{ webserver_user }}"
  ansible.builtin.command:
    argv:
      - "{{ php_bin }}"
      - "{{ wp_cli_bin }}"
      - config
      - set
      - "{{ item.name }}"
      - "{{ item.value }}"
      - "--path={{ webserver_directory }}"
  when: wp_config_get.stdout != item.value
  register: wp_config_set
  changed_when: true
  failed_when: false
